# this file is to be located in your project/.ebextensions folder

#TO UPDATE NODE VERSION & ARCH
# replace  0.10.24 -> 0.11.0 (for example) and x86 -> x64 in
#  — all *env.config
#  — env.vars
#  — in AWS EB console for each env (env configuration settings) (may be unneccessary)

#TO UPDATE NPM
# uncomment "rm npm updated" in 40install_node.sh

#TO CHANGE NGINX VERSION
# update version number in env.vars

packages:
  yum:
    ImageMagick: []
    git: []
    mc: []
    gcc: []
    make: []
    openssl-devel: []
    tmux: []
    gcc-c++: []
    freetype-devel: []
    fontconfig-devel: []
    ruby: []
    rubygems: []
    pcre: []
    pcre-devel: []
    gperftools: []
    gperftools-devel: []
  rubygems:
    rubygems-update: []
    phantom-manager: '0.0.8'

option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: RDS_HOSTNAME
    value: fill_me_in
  - option_name: RDS_PASSWORD
    value: fill_me_in
  - option_name: RDS_USERNAME
    value: fill_me_in
  - option_name: RDS_PORT
    value: 3306
#set this var via console to update io.log nodename
  - option_name: IO_LOG_NODE
    value: STAGE
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.24
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true

files:
  "/opt/elasticbeanstalk/env.vars" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/env.vars

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh" :
    mode: "000666"
    owner: root
    group: users
    content: |
       #no need to run npm install during configdeploy

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/50npm.sh

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/40install_node.sh

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh" :
    mode: "000775"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/40install_node.sh

  "/root/.log.io/harvester.conf" :
    mode: "000666"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/harvester.conf

  "/root/.log.io/web_server.conf" :
    mode: "000666"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/web_server.conf

  "/root/.log.io/log_server.conf" :
    mode: "000666"
    owner: root
    group: users
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/log_server.conf

  "/root/z.sh" :
    mode: "000755"
    owner: root
    group: root
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/z.sh

  "/home/ec2-user/z.sh" :
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/z.sh

  "/root/cron-node.sh" :
    mode: "000755"
    owner: root
    group: root
    source: https://raw.github.com/kopurando/better-faster-elastic-beanstalk/master/cron-node.sh

  "/opt/elasticbeanstalk/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf" :
    mode: "000664"
    owner: root
    group: root
    encoding: plain
    content: |
      #WE COME FROM env.config!

      upstream nodejs {
        server 127.0.0.1:8081;
        keepalive 256;
       }
      #managed by phantom-manager, do not change upstream name!!!
      upstream phantomjs {
        server 127.0.0.1:8001 fail_timeout=0;
        server 127.0.0.1:8002 fail_timeout=0;
      }
          gzip on;
      #serve static content bypassing node.js
          location /posters {
              alias /var/app/current/public/posters;
          }
      }

commands:
  01_install_mosh:
    command: yum --enablerepo=epel install -y mosh
    ignoreErrors: true
  02_patch_ebnode_py:
    command: "sed -e '/rebuild/ s/^#*/#/' -i /opt/elasticbeanstalk/containerfiles/ebnode.py"
    ignoreErrors: true
  03_inject_z_sh:
    command: "grep  'z.sh' /root/.bashrc || echo '. ~/z.sh' >> /root/.bashrc;grep  'z.sh' /home/ec2-user/.bashrc || echo '. ~/z.sh' >> /home/ec2-user/.bashrc"
    ignoreErrors: true
  05_inject_io_node_name:
    command: IO_LOG_NODE=`grep IO_LOG_NODE /etc/init/nodejs.conf | cut --delimiter='"' --fields=2` && sed -i.bak -e s/IO_LOG_NODE/$IO_LOG_NODE/ /root/.log.io/harvester.conf
    ignoreErrors: true

container_commands:
  01_replace_nginx_eb_conf:
    command: "mv -f '/opt/elasticbeanstalk/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf' '/tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf'"
    ignoreErrors: false
